<div id="planet-view-header-left">
  <img src="" id="planet-image" title="image based on artist impression"/>
</div>
<div id="planet-view-header-right">
  <h1 id="planet-name"></h1>
</div>

<div id="planet-view-content">

  <div id="planet-description"></div>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td><span>Type</span>:</td>
      <td id="planet-type"></td>
    </tr>
    <tr>
      <td><span>Radius (earth)</span>:</td>
      <td id="planet-radius"></td>
    </tr>
    <tr>
      <td><span>Mass (earth)</span>:</td>
      <td id="planet-masse"></td>
    </tr>
    <tr>
      <td><span>Mean Temparature (surface)</span>:</td>
      <td id="planet-temparature"></td>
    </tr>
    <tr>
      <td><span>Habitable</span>:</td>
      <td id="planet-habitable"></td>
    </tr>
     <tr>
      <td><span>ESI</span>:</td>
      <td id="planet-esi"></td>
    </tr>
    <tr>
      <td><span>Semi Major Axis (AU)</span>:</td>
      <td id="planet-semiMajorAxis"></td>
    </tr>
    <tr>
      <td><span>Sidereal Orbit Period (days)</span>:</td>
      <td id="planet-siderealOrbitPeriod"></td>
    </tr>
    <tr>
      <td><span>Eccentricity</span>:</td>
      <td id="planet-eccentricity"></td>
    </tr>
    <tr>
      <td><span>Inclination</span>:</td>
      <td id="planet-inclination"></td>
    </tr>
    <tr>
      <td><span>Distance from earth (LY)</span>:</td>
      <td id="planet-distance"></td>
    </tr>
    <tr>
      <td><span>Disc. Method</span>:</td>
      <td id="planet-method"></td>
    </tr>
    <tr>
      <td><span>Disc Year</span>:</td>
      <td id="planet-year"></td>
    </tr>
  </table>

</div>
